# IDE files
.idea
.vscode

# files used for local testing
config.json
config-test.json
src/ts/Deno.d.ts

# node stuff
node_modules
.vite

# UI stuff
/generated
src/ui/dist
/src/ui/ui.css.map

# I can't remember why, but there was a reason for this
*.exe
