:root {
  --color-scheme-primary: #5fb49c;
  --color-scheme-primary-accent: #deefb7;
  --color-scheme-secondary: #98dfaf;
  --color-scheme-secondary-accent: #de6b48;
  --color-scheme-background: #231F20;

  /* non-color vars */
  --border-radius: 4px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-scheme-background);
  color: var(--color-scheme-primary);
  font-family: 'Fira Code', 'Jetbrains Mono', monospace;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}