@import './assets/simple-grid.css';


:root {
  /* non-color vars */
  --border-radius: 4px;
  --font-family: 'Fira Code', 'Jetbrains Mono', monospace !important;
  --accordion-title-background: var(--p-primary-900);
  --accordion-open-title-background: var(--p-primary-800);
  --accordion-title-text-transorm: none;
  --content-padding: 1.25rem;
}

.request-method-get {
  background-color: var(--p-green-500);
}

.request-method-put {
  background-color: var(--p-blue-500);
}

.request-method-post {
  background-color: var(--p-yellow-500);
}

.request-method-delete {
  background-color: var(--p-red-500);
}

.request-method-head {
  background-color: var(--p-teal-500);
}

.request-method-connect {
  background-color: var(--p-indigo-500);
}

.request-method-options {
  background-color: var(--p-green-100);
  color: var(--p-surface-0);
}

.request-method-trace {
  background-color: var(--p-purple-500);
}

.request-method-patch {
  background-color: var(--p-cyan-500);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--p-color-scheme-background);
  color: var(--p-color-scheme-primary);
}

html {
  overflow-y: hidden;
}

#app {
  width: 98%;
  > main {
    width: 100%;
  }
}

accordion-element, span.error-message {
  font-family: var(--font-family);
}

accordion-element {
  &.request-response-log {
    --accordion-title-background: var(--p-teal-900);
    --accordion-open-title-background: var(--p-teal-800);
  }

  &.headers-body-log {
    --accordion-title-background: #282e38;
    --accordion-open-title-background: #37404c;
  }
}

@layer primevue {
  * {
    font-family: var(--font-family);
  }
}