:root {
  --primary: #7C35AA;
  --primary-darker: #6e2f97;
  --primary-darkest: #602983;
  --secondary: #8D99AE;
  --secondary-darker: #7e8ca3;
  --secondary-darkest: #6f7e99;
  --success: #A5C882;
  --success-darker: #98c070;
  --success-darkest: #8cb85f;
  --error: #CD533B;
  --error-darker: #be4830;
  --error-darkest: #aa402b;
  --color-get: #A5C882;
  --color-post: #FBAF00;
  --color-put: #3F84E5;
  --color-head: #42c67c;
  --color-delete: #CD533B;
  --color-connect: plum;
  --color-options: lightseagreen;
  --color-trace: #b313b0;
  --color-patch: #5f5d9e;
  --body-background: #333;
  --text: #dfd8e3;
  --darker-background: #111;
  --border-radius: 6px;
  --accordion-title-background: #333;
  --accordion-border-radius: 6px;
  --accordion-open-title-background: #333;
  --accordion-fan-accordion-border-style: 1px solid #111;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: #333;
  overflow: hidden;
  color: #dfd8e3;
  font-family: "Fira Code", Consolas, monospace;
}
.container {
  padding: 0 2em;
  height: 80%;
}
#route-panel {
  border-right: 1px solid #8D99AE;
  padding-right: 2em;
  margin-right: 2em;
  grid-column-start: 1;
  grid-column-end: 2;
}
#route-panel .route-list {
  list-style-type: none;
  padding-left: 0;
  overflow-y: auto;
  max-height: 75%;
}
#route-panel .route-list li.clickable {
  padding: 0.5em;
  border-radius: 6px;
  background-color: #111;
  margin: 0.5em 0;
  white-space: break-spaces;
  word-break: break-word;
}
#route-panel .route-list li.clickable:hover {
  background-color: #8D99AE;
  cursor: pointer;
}
#route-panel .route-list li.clickable.selected {
  background-color: #7C35AA;
}
#edit-route-view {
  display: grid;
  grid-auto-columns: 20% 80%;
}
#route-editor {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-auto-columns: auto auto auto;
  grid-auto-rows: 5% 12% 12% min-content min-content;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
  grid-row-gap: 3em;
}
#route-editor #route-name {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}
#route-editor #method-and-url {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}
#route-editor #method-and-url > #method-url-bar {
  display: grid;
  grid-auto-columns: 10% auto;
}
#route-editor #method-and-url > #method-url-bar > select {
  grid-column-start: 1;
  grid-column-end: 2;
}
#route-editor #method-and-url > #method-url-bar > input {
  grid-column-start: 2;
  grid-column-end: 3;
}
#route-editor #response-headers {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;
}
#route-editor #response-body {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom: 2em;
}
select,
input,
textarea {
  border-radius: 6px;
  padding: 1em;
  background-color: #111;
  color: #dfd8e3;
  border-color: #8D99AE;
  border-width: 1px;
  border-style: solid;
}
select:focus,
input:focus,
textarea:focus {
  border-color: #7C35AA;
  outline: none;
}
select.full-width,
input.full-width,
textarea.full-width {
  width: 98%;
}
textarea {
  resize: vertical;
}
.input-group > select:first-child,
.input-group input:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.input-group > select:not(:first-child),
.input-group input:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > select:last-child,
.input-group input:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
table {
  width: 100%;
}
table td > input {
  width: 95%;
}
button {
  padding: 0.5em 1.25em;
  border-style: solid;
  cursor: pointer;
  border-radius: 6px;
}
button.primary {
  background-color: #7C35AA;
  border-color: #602983;
}
button.primary:hover {
  background-color: #6e2f97;
}
button.primary:active {
  background-color: #602983;
}
button.primary.outline {
  background-color: transparent;
  color: #7C35AA;
  border-color: #7C35AA;
}
button.primary.outline:hover {
  background-color: #7C35AA;
  color: #83ca55;
}
button.primary.outline:active {
  background-color: #602983;
}
button.secondary {
  background-color: #8D99AE;
  border-color: #6f7e99;
}
button.secondary:hover {
  background-color: #7e8ca3;
}
button.secondary:active {
  background-color: #6f7e99;
}
button.secondary.outline {
  background-color: transparent;
  color: #8D99AE;
  border-color: #8D99AE;
}
button.secondary.outline:hover {
  background-color: #8D99AE;
  color: #726651;
}
button.secondary.outline:active {
  background-color: #6f7e99;
}
button.success {
  background-color: #A5C882;
  border-color: #8cb85f;
}
button.success:hover {
  background-color: #98c070;
}
button.success:active {
  background-color: #8cb85f;
}
button.success.outline {
  background-color: transparent;
  color: #A5C882;
  border-color: #A5C882;
}
button.success.outline:hover {
  background-color: #A5C882;
  color: #5a377d;
}
button.success.outline:active {
  background-color: #8cb85f;
}
button.error {
  background-color: #CD533B;
  border-color: #aa402b;
}
button.error:hover {
  background-color: #be4830;
}
button.error:active {
  background-color: #aa402b;
}
button.error.outline {
  background-color: transparent;
  color: #CD533B;
  border-color: #CD533B;
}
button.error.outline:hover {
  background-color: #CD533B;
  color: #32acc4;
}
button.error.outline:active {
  background-color: #aa402b;
}
.grid {
  display: grid;
}
.grid.align-center {
  align-items: center;
}
.grid.one-x-two {
  grid-template-rows: auto;
  grid-template-columns: auto auto;
}
.grid .col-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid .col-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.info-message {
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 25%;
  text-align: center;
  padding: 1em;
  transition: bottom 0.25s linear;
  border-radius: 6px;
}
.info-message.visible {
  bottom: 15%;
  transition: bottom 0.25s ease-out;
}
.info-message.primary {
  background-color: #7C35AA;
  color: #271135;
  border: 1px solid #271135;
}
.info-message.secondary {
  background-color: #8D99AE;
  color: #434d5f;
  border: 1px solid #434d5f;
}
.info-message.success {
  background-color: #A5C882;
  color: #597b36;
  border: 1px solid #597b36;
}
.info-message.error {
  background-color: #CD533B;
  color: #582117;
  border: 1px solid #582117;
}
.button-list {
  margin-bottom: 2em;
}
.button-list > button {
  border-radius: 0;
}
.button-list > button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.button-list > button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
* .text-primary {
  color: #7C35AA;
}
* .text-secondary {
  color: #8D99AE;
}
* .text-success {
  color: #A5C882;
}
* .text-error {
  color: #CD533B;
}
.view {
  height: 100%;
  width: 100%;
}
#route-log-view .log-panel {
  padding: 2em;
  background-color: #111;
  border-radius: 6px;
  height: 95%;
  overflow-y: auto;
}
#route-log-view .log-panel .log {
  margin: 1em 0;
}
#route-log-view .log-panel .log .timestamp {
  font-style: italic;
  color: #8D99AE;
}
#route-log-view .log-panel .log .message {
  color: #CD533B;
  margin-left: 1rem;
  text-transform: none !important;
}
#route-log-view .log-panel .log .method {
  color: #111;
  padding: 0.25em;
  border-radius: 6px;
  margin-left: 1rem;
  text-align: center;
}
#route-log-view .log-panel .log .method.get {
  background-color: #A5C882;
}
#route-log-view .log-panel .log .method.post {
  background-color: #FBAF00;
}
#route-log-view .log-panel .log .method.put {
  background-color: #3F84E5;
}
#route-log-view .log-panel .log .method.head {
  background-color: #42c67c;
}
#route-log-view .log-panel .log .method.delete {
  background-color: #CD533B;
}
#route-log-view .log-panel .log .method.connect {
  background-color: plum;
}
#route-log-view .log-panel .log .method.options {
  background-color: lightseagreen;
}
#route-log-view .log-panel .log .method.trace {
  background-color: #b313b0;
}
#route-log-view .log-panel .log .method.patch {
  background-color: #5f5d9e;
}
#route-log-view .log-panel .log .url {
  margin-left: 1rem;
  word-wrap: break-word;
  line-height: 2em;
}
accordion-element.get.open > .ploiu-accordion-title {
  background-color: #A5C882;
}
accordion-element.get.open > .ploiu-accordion-title .timestamp,
accordion-element.get.open > .ploiu-accordion-title .method,
accordion-element.get.open > .ploiu-accordion-title .url {
  font-weight: bold;
  color: black !important;
}
accordion-element.post.open > .ploiu-accordion-title {
  background-color: #FBAF00;
}
accordion-element.post.open > .ploiu-accordion-title .timestamp,
accordion-element.post.open > .ploiu-accordion-title .method,
accordion-element.post.open > .ploiu-accordion-title .url {
  font-weight: bold;
  color: black !important;
}
accordion-element.put.open > .ploiu-accordion-title {
  background-color: #3F84E5;
}
accordion-element.put.open > .ploiu-accordion-title .timestamp,
accordion-element.put.open > .ploiu-accordion-title .method,
accordion-element.put.open > .ploiu-accordion-title .url {
  font-weight: bold;
  color: white !important;
}
accordion-element.head.open > .ploiu-accordion-title {
  background-color: #42c67c;
}
accordion-element.head.open > .ploiu-accordion-title .timestamp,
accordion-element.head.open > .ploiu-accordion-title .method,
accordion-element.head.open > .ploiu-accordion-title .url {
  font-weight: bold;
  color: white !important;
}
accordion-element.delete.open > .ploiu-accordion-title {
  background-color: #CD533B;
}
accordion-element.delete.open > .ploiu-accordion-title .timestamp,
accordion-element.delete.open > .ploiu-accordion-title .method,
accordion-element.delete.open > .ploiu-accordion-title .url {
  font-weight: bold;
  color: white !important;
}
accordion-element.connect.open > .ploiu-accordion-title {
  background-color: plum;
}
accordion-element.connect.open > .ploiu-accordion-title .timestamp,
accordion-element.connect.open > .ploiu-accordion-title .method,
accordion-element.connect.open > .ploiu-accordion-title .url {
  font-weight: bold;
  color: white !important;
}
accordion-element.options.open > .ploiu-accordion-title {
  background-color: lightseagreen;
}
accordion-element.options.open > .ploiu-accordion-title .timestamp,
accordion-element.options.open > .ploiu-accordion-title .method,
accordion-element.options.open > .ploiu-accordion-title .url {
  font-weight: bold;
  color: white !important;
}
accordion-element.trace.open > .ploiu-accordion-title {
  background-color: #b313b0;
}
accordion-element.trace.open > .ploiu-accordion-title .timestamp,
accordion-element.trace.open > .ploiu-accordion-title .method,
accordion-element.trace.open > .ploiu-accordion-title .url {
  font-weight: bold;
  color: white !important;
}
accordion-element.patch.open > .ploiu-accordion-title {
  background-color: #5f5d9e;
}
accordion-element.patch.open > .ploiu-accordion-title .timestamp,
accordion-element.patch.open > .ploiu-accordion-title .method,
accordion-element.patch.open > .ploiu-accordion-title .url {
  font-weight: bold;
  color: white !important;
}
/*# sourceMappingURL=ui.css.map */