<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ploiu Mock Server</title>
    <link rel="stylesheet" href="ui.css">
</head>
<body>
<div id="main" class="container">
    <h1>Ploiu Mock Server</h1>
    <!--main area, this contains the route list and the editor panel for that route-->
    <div id="edit-route-view" v-if="currentView === 'editRoute'">
        <div id="route-panel">
            <div class="grid one-x-two">
                <h3>Routes</h3>
                <button class="primary outline" @click="save()">Save</button>
            </div>
            <ul class="route-list">
                <div v-for="(route, index) in routes" :key="index" class="grid one-x-two align-center">
                    <li class="clickable"
                        :class="{selected: selectedRoute === route, 'col-1': true}" @click="selectedRoute = route">
                        {{route.title}}
                    </li>
                    <button class="error col-2" @click="removeRoute(route)">Delete</button>
                </div>
            </ul>
            <!--button to add new route-->
            <button class="secondary outline" @click="addNew()">Add New</button>
        </div>
        <!--panel to edit routes-->
        <div id="route-editor" v-if="selectedRoute !== null">
            <h3>Current Route</h3>
            <!--row with route name-->
            <div id="route-name">
                <h5>Route Name & Status</h5>
                <div class="input-group grid one-x-two">
                    <input v-model="selectedRoute.title" class="col-1">
                    <input type="number" v-model="selectedRoute.responseStatus" placeholder="status code" class="col-2">
                </div>
            </div>
            <!--row with request method and url-->
            <div id="method-and-url">
                <h5>Method & URL</h5>
                <div class="input-group" id="method-url-bar">
                    <select id="requestMethod" v-model="selectedRoute.method">
                        <option :value="method" v-for="method in requestMethods">{{method}}</option>
                    </select>
                    <input type="text" id="requestUrl" v-model="selectedRoute.url" placeholder="url">
                </div>
            </div>
            <!--row with response headers-->
            <div id="response-headers">
                <h5>Response Headers</h5>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(header, index) in selectedRoute.responseHeaders" :key="index">
                        <td>
                            <input type="text" v-model="header.name">
                        </td>
                        <td>
                            <input type="text" v-model="header.value">
                        </td>
                        <td>
                            <button class="error" @click="removeHeader(header)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="secondary" @click="addHeader()">Add Header</button>
            </div>
            <!--row with response body-->
            <div id="response-body">
                <h5>Response Body</h5>
                <textarea v-model="selectedRoute.response" class="full-width"></textarea>
            </div>
        </div>
        <div class="info-message" :class="messageType, {visible: message !== null}">{{message}}</div>
    </div>
</div>
<script src="https://unpkg.com/vue@3.1.4"></script>
<script>
    const ui = {
        data() {
            return {
                /** @type {Route[]}; the routes the user has set up*/
                routes: [],
                /** @type {Route}; the current route the user is editing*/
                selectedRoute: null,
                requestMethods: [
                    'GET', 'PUT', 'POST', 'DELETE', 'HEAD', 'CONNECT', 'OPTIONS', 'TRACE', 'PATCH'
                ],
                // the visible view for the UI
                currentView: 'editRoute',
                // informational message
                message: null,
                messageType: null
            }
        },
        methods: {
            /** splits a header map into a list of single headers so that they can be edited on the UI*/
            groupHeaders(headers = {}) {
                const grouped = []
                for (let [key, value] of Object.entries(headers)) {
                    grouped.push({
                        name: key,
                        value: value
                    })
                }
                // assign a new id for each grouped header
                for (let i = 0; i < grouped.length; i++) {
                    grouped[i].id = i
                }
                return grouped
            },
            /** condenses a list of headers down into a single object to send back to the server */
            condenseHeaders(headers = []) {
                const condensed = {}
                for (let grouped of headers) {
                    condensed[grouped.name] = grouped.value
                }
                return condensed
            },
            /** creates a new route object, adds it to our route list, and sets it as the selected route */
            addNew() {
                const route = {};
                this.routes.push(route);
                this.selectedRoute = route;
            },
            removeRoute(route) {
                this.routes = this.routes.filter(it => it !== route);
                if (this.selectedRoute === route) {
                    this.selectedRoute = null;
                }
            },
            /**
             * adds a new header to the currently selected route
             */
            addHeader() {
                this.selectedRoute.responseHeaders = this.selectedRoute.responseHeaders ?? [];
                const header = {name: null, value: null, id: this.selectedRoute.responseHeaders.length}
                this.selectedRoute.responseHeaders.push(header);
            },
            removeHeader(header) {
              this.selectedRoute.responseHeaders = this.selectedRoute.responseHeaders.filter(it => it !== header);
            },
            /**
             * saves our routes to our config file and refreshes the routes
             */
            async save() {
                // clone the routes TODO find a better way
                const routes = JSON.parse(JSON.stringify(this.routes));
                // condense the headers of each route
                for (let route of routes) {
                    route.responseHeaders = this.condenseHeaders(route.responseHeaders);
                }
                const saveResult = await (await fetch('/mock-ui-save-routes', {
                    method: 'POST',
                    body: JSON.stringify(routes)
                })).json()
                if (saveResult.success) {
                    this.showMessage('Successfully saved routes', 'success');
                } else {
                    this.showMessage('Failed to save routes, check server logs for details.', 'error');
                }
            },
            /**
             * shows the message bar at the bottom of the screen, and then hides it after 3 seconds
             * @param {string} message
             * @param {string} messageType
             */
            showMessage(message, messageType) {
                this.message = message;
                this.messageType = messageType;
                // show the message for a bit and then hide it
                window.setTimeout(() => {
                    this.message = null
                    this.messageType = null
                }, 3_000)
            }
        },
        async mounted() {
            const routes = await (await fetch('/mock-server-routes')).json()
            if (routes) {
                for (let route of routes) {
                    route.responseHeaders = this.groupHeaders(route.responseHeaders)
                }
                this.routes = routes
            }
        }
    }
    Vue.createApp(ui).mount('#main')
</script>
</body>
</html>
