<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ploiu Mock Server</title>
    <link rel="stylesheet" href="ui.css">
</head>
<body>
<div id="main" class="container">
    <h1 style="display: inline-block">Ploiu Mock Server</h1>
    <!--buttons that change the view-->
    <div class="button-list" style="display: inline-block; margin-left: 2em;">
        <button class="primary" :class="{outline: currentView !== 'editRoute'}" @click="switchView('editRoute')">Edit Routes</button>
        <button class="success" :class="{outline: currentView !== 'viewLogs'}" @click="switchView('viewLogs')">View Route Log</button>
    </div>
    <!--route list and edit route view-->
    <div id="edit-route-view" class="view" v-if="currentView === 'editRoute'">
        <div id="route-panel">
            <div class="grid one-x-two">
                <h3>Routes</h3>
                <button class="primary outline" @click="save()" id="save-button">Save</button>
            </div>
            <ul id="route-panel-list" class="route-list">
                <div v-for="(route, index) in routes" :key="index" class="grid one-x-two align-center">
                    <li class="clickable"
                        :class="{selected: selectedRoute === route, 'col-1': true}" @click="selectedRoute = route">
                        {{route.title}}
                    </li>
                    <button class="error col-2" @click="removeRoute(route)">Delete</button>
                </div>
            </ul>
            <!--button to add new route-->
            <button class="secondary outline" @click="addNew()" id="add-new-button">Add New</button>
        </div>
        <!--panel to edit routes-->
        <div id="route-editor" v-if="selectedRoute !== null">
            <h3>Current Route</h3>
            <!--row with route name-->
            <div id="route-name">
                <h5>Route Name & Status</h5>
                <div class="input-group grid one-x-two">
                    <input v-model="selectedRoute.title" class="col-1" id="route-name-input">
                    <input type="number" v-model="selectedRoute.responseStatus" placeholder="status code" class="col-2"
                           id="route-status-code-input">
                </div>
            </div>
            <!--row with request method and url-->
            <div id="method-and-url">
                <h5>Method & URL</h5>
                <div class="input-group" id="method-url-bar">
                    <select id="route-request-method-input" v-model="selectedRoute.method">
                        <option :value="method" v-for="method in requestMethods">{{method}}</option>
                    </select>
                    <input type="text" id="route-request-url" v-model="selectedRoute.url" placeholder="url">
                </div>
            </div>
            <!--row with response headers-->
            <div id="response-headers">
                <h5>Response Headers</h5>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(header, index) in selectedRoute.responseHeaders" :key="index">
                        <td>
                            <input type="text" v-model="header.name" class="header-title">
                        </td>
                        <td>
                            <input type="text" v-model="header.value" class="header-value">
                        </td>
                        <td>
                            <button class="error header-remove-button" @click="removeHeader(header)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="secondary" @click="addHeader()" id="add-header-button">Add Header</button>
            </div>
            <!--row with response body-->
            <div id="response-body">
                <h5>Response Body</h5>
                <textarea v-model="selectedRoute.response" class="full-width" id="response-body-input"></textarea>
            </div>
        </div>
    </div>
    <!--hit routes view-->
    <div id="route-log-view" class="view" v-if="currentView === 'viewLogs'">
        <div id="logArea" class="log-panel">
            <div class="log" v-for="log in logs">
                <span class="timestamp">{{log.timestamp}}</span>
                <span class="method" v-if="log.method" :class="log.method.toLowerCase()">{{log.method}}</span>
                <span class="url" v-if="log.url">{{log.url}}</span>
                <span class="message" v-if="log.message">{{log.message}}</span>
            </div>
        </div>
    </div>
    <div id="messageBar" class="info-message" :class="messageType, {visible: message !== null}">{{message}}</div>
</div>
<script src="https://unpkg.com/vue@3.1.4"></script>
<!--intellij might say this file doesn't exist, but it gets generated before startup-->
<script src="ui.js" type="module"></script>
</body>
</html>
