@primary: #7C35AA;
@secondary: #8D99AE;
@success: #A5C882;
@error: #CD533B;
@body-background: #333;
@text: #dfd8e3;
@darker-background: #111;
@border-radius: 6px;

// request method colors
@get: @success;
@post: #FBAF00;
@put: #3F84E5;
@head: #42c67c;
@delete: @error;
@connect: plum;
@options: lightseagreen;
@trace: #b313b0;
@patch: #5f5d9e;

@colors: primary, secondary, success, error;
@http-methods: get, post, put, head, delete, connect, options, trace, patch;

// TODO possibly remove this since we're moving to LESS
:root {
  --primary: @primary;
  --secondary: @secondary;
  --success: @success;
  --error: @error;
  --body-background: @body-background;
  --text: @text;
  --darker-background: @darker-background;
  --border-radius: @border-radius;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: var(--body-background);
  overflow: hidden;
  color: var(--text);
  font-family: "Fira Code", Consolas, monospace;
}

.container {
  padding: 0 2em;
  height: 80%;
}

#route-panel {
  resize: horizontal;
  border-right: 1px solid var(--secondary);
  padding-right: 2em;
  margin-right: 2em;
  grid-column-start: 1;
  grid-column-end: 2;

  .route-list {
    list-style-type: none;
    padding-left: 0;

    li.clickable {
      padding: .5em;
      border-radius: @border-radius;
      background-color: var(--darker-background);
      margin: 0.5em 0;
      white-space: break-spaces;
      word-break: break-word;

      &:hover {
        background-color: var(--secondary);
        cursor: pointer;
      }

      &.selected {
        background-color: var(--primary);
      }
    }
  }
}

#edit-route-view {
  display: grid;
  grid-auto-columns: 20% 80%;
}

#route-editor {
  grid-column-start: 2;
  grid-column-end: 3;
  // even though it's in a grid, it is a container of other grid items
  display: grid;
  grid-auto-columns: auto auto auto;
  grid-auto-rows: auto auto auto auto;

  #method-and-url {
    #route-name {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 4;
    }

    #method-url-bar {
      grid-row-start: 2;
      grid-row-end: 3;
      display: grid;
      grid-auto-columns: 10% auto;

      > select {
        grid-column-start: 1;
        grid-column-end: 2;
      }

      > input {
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }

    #response-headers {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 4;
    }

    #response-body {
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
}

select, input, textarea {
  border-radius: @border-radius;
  padding: 1em;
  background-color: var(--darker-background);
  color: var(--text);
  border-color: var(--secondary);
  border-width: 1px;
  border-style: solid;

  &:focus {
    border-color: var(--primary);
    outline: none;
  }

  &.full-width {
    width: 98%;
  }
}

.input-group {
  > select, input {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

table {
  width: 100%;

  td > input {
    width: 95%;
  }
}

button {
  padding: .5em 1.25em;
  border-style: solid;
  cursor: pointer;
  border-radius: @border-radius;
  // generate color profiles for each of our colors
  each(@colors, {
    &.@{value} {
      background-color: @@value;
      border-color: darken(@@value, 10%);

      &:hover {
        background-color: darken(@@value, 5%);
      }

      &:active {
        background-color: darken(@@value, 10%);
      }

      &.outline {
        background-color: transparent;
        color: @@value;
        border-color: @@value;

        &:hover {
          background-color: @@value;
          color: #fff - @@value;
        }

        &:active {
          background-color: darken(@@value, 10%);
        }
      }
    }
  })
}

.grid {
  display: grid;

  &.align-center {
    align-items: center;
  }

  &.one-x-two {
    grid-template-rows: auto;
    grid-template-columns: auto auto;
  }

  .col-1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .col-2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

// the little popup bar
.info-message {
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 25%;
  text-align: center;
  padding: 1em;

  transition: bottom .25s linear;

  &.visible {
    bottom: 15%;
    transition: bottom .25s ease-out;
  }

  each(@colors, {
    border-radius: @border-radius;

    &.@{value} {
      background-color: @@value;
      color: darken(@@value, 30%);
      border: 1px solid $color;
    }
  })
}

// a horizontal row of connected buttons
.button-list {
  margin-bottom: 2em;

  > button {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: @border-radius;
      border-bottom-left-radius: @border-radius;
    }

    &:last-child {
      border-top-right-radius: @border-radius;
      border-bottom-right-radius: @border-radius;
    }
  }
}

// anything with a `text-*` color should have that text as a color
* {
  each(@colors, {
    .text-@{value} {
      color: @@value;
    }
  })
}

.view {
  height: 100%;
  width: 100%;
}

#route-log-view {
  .log-panel {
    padding: 2em;
    background-color: @darker-background;
    border-radius: @border-radius;
    height: 95%;
    overflow-y: auto;

    // a log entry
    .log {
      margin: 1em 0;
      display: grid;
      grid-auto-columns: 13% 6% auto;

      > .timestamp {
        font-style: italic;
        color: @secondary;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      > .message {
        color: @error;
        margin-left: 1rem;
        grid-column-start: 2;
        grid-column-end: 4;
      }

      > .method {
        color: @darker-background;
        padding: .25em;
        border-radius: @border-radius;
        margin-left: 1rem;
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;

        each(@http-methods, {
          &.@{value} {
            background-color: @@value;
          }
        })
      }

      > .url {
        grid-column-start: 3;
        grid-column-end: 4;
        margin-left: 1rem;
      }
    }
  }
}
